.center-items {
	display: flex;
	justify-content: center;
	align-items: center;
}
.center-vertical {
	align-items: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.block {
	display: block;
}

.flex-wrap {
	flex-wrap: wrap;
}
